.messages {
    display: flex;
    flex-direction: column-reverse;
    margin: 15px 20px;
    overflow: auto;
}

.new-message {
    display: flex;
    justify-content: stretch;
    margin: 20px;

    .message-input {
        flex: 1 1 200px;
        color: white;
        margin-left: 20px;
     }
}

.chat-room {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 64px);
}